h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Kablammo', cursive;
}

h2 {
  font-family: 'Londrina Shadow', cursive;
  color:whitesmoke;
}
.score {
  font-family: 'Londrina Shadow', cursive;
  font-size: 30px;
  color:whitesmoke;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
}

body {
  background-image: url("images/Cartoon_grass.jpeg");
  background-size: cover;
}

.grid {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh;/* 100% of the viewport height */
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-spacing: 60px;
  grid-template-columns: repeat(3, auto);
  cursor: url(images/palu1.png), auto;
}

.grid:active {
  cursor: url(images/palu2.png), auto;
}
.square {
  background-image: url("images/mound_Square.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: solid black 1px;
  background-size: cover;
  border-spacing: 10px;
  position: relative;
  transition: transform 250ms;
  transition-timing-function: ease-out;
}
.square:hover {
  transform: translateY(-5px);
}

.mole {
  display: flex;
  background-image: url("images/Mole.jpg");
  background-size: cover;
}

.scoreBoard {
  background-image: url("images/scoreBoard_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid black;
  padding: 10px;
  flex-direction: column;
  margin-left: auto;
  order: 2;

}
.container {
  display: flex;
  flex-direction: row;
}






/*In the .scoreBoard selector, we added the margin-left: auto; property. This pushes the .scoreBoard element to the right by setting its left margin to "auto," allowing it to occupy the available space on the left side of the container.
In the .container selector, we set the flex-direction property to row. This ensures that the child elements within the container are displayed in a row format.*/